*,
::before,
::after {
  box-sizing: border-box;
}

body. h1 {
  margin: 0;
}

main {
  height: 400px;
  padding: 20px;
  border: 10 solid;
  margin: 20px;
}
.main-container {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 10px;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: block;
  margin: 20px;
  font-weight: bold;
  flex-direction: row;
position: relative;
align-items: center;
}

.input-box {
  margin: 5px;
  font-size: 16px;
  padding: 10px;
  display: flex;
  width: 100%;
}

.option-box {
  margin: 10px;
}

.form-title {
  font-weight: bold;
  font-size: 50px;
  text-align: justify;
}

.form-box {
  left: auto;
  background-color: #0000004c;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.check-box {
}

.checkbox-box {
  height: 20px;
  weidt
}

.main-image {
  width: 40vw;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
}
